<div class="row">    
    <div class="col-sm-4">
        <h1>Edit Category</h1>
        <form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Tên Category</label>
                <input type="text" name="name" value="{{category.name}}" class="form-control" placeholder="Nhập category mới">
            </div>
            <button class="btn btn-primary">Edit Category</button>
        </form>
    </div>
</div>    